.coming-soon {
    margin-top: 9em;
    margin-bottom: 20em;
    margin-left: 36em;
}

.coming-soon h1 {
    color: crimson !important;
    text-align: center !important;
    margin-left: -130px;
}

.coming-soon p {
    margin-left: -8em;
    text-align: center !important;
}