.donate{
    width: 50em !important; 
    margin-bottom: 35em;
    padding-left: 1em;
    padding-top: 1em;
    margin-left: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
