.featured-page {
    padding-top: 75px;
}

.page-title {
    text-align: left;
    margin-left: 16em;
    font-family: revert;
    font-weight: bold;
    color: dimgrey;
}

.selection {
    border-right: 2px solid #ddd;
    word-break: break-word;
    width: 200px !important;
    /* margin-top: 0em !important; */
}