.suggestion-form {
    width: 50em !important;
    margin-bottom: 35em;
    padding-left: 1em;
    padding-top: 1em;
    margin-left: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ui-message {
    color: green;
    font-weight: 500;
    margin-left: 26em;
    font-size: larger;
    border-style: double;
    padding-left: 38px;
}

.mb-3 textarea {
    margin-left: 0em;
}

.form-contents .names {
    margin-left: -1em;
}