.change-password .container{
    margin-top: 5em;
}

.container .row form {
    width: 100%;
}
.change-pass-title {
    padding-bottom: 20px;
    text-align: center;
}

.change-pass-title h2 {
    font-weight: 100;
}

/* .row .alert{
    margin-left: 17em;
} */

.row .alert {
    margin-left: -6em;
}



.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 

