.container .page-title{
    text-align: center;
    padding-bottom: 2em;
}

.container .page-title h2 {
    font-weight: 100;
}

.form-content{
    margin-left: 0em;
}
.forgot-password .form-row{
    margin-left: 0px;
}