/* Css for all media queries are here  */

body {
	background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
	width: 100%;
	height: 100%;
}
.user-profile {
	font-size: medium;
	color: azure;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

#root {
	width: fit-content !important;
	display: flex !important;
}

/* FOOTER CONTENTS */

footer {
	position: relative;
	padding: 50px;
	background: #111;
	margin-top: 0em;
	width: 100%;
}
.aboutus {
	display: flex;
}
footer h2 {
	position: relative;
	color: rgba(255, 250, 250, 0.979);
	margin-bottom: 15px;
	width: 10em;
	margin-left: 7px;
}
/* Handels the red line in the footer */
footer .container h2:before {
	content: "";
	position: absolute;
	bottom: -5px;
	width: 50px;
	height: 2px;
	background: #f00;
}

/* Handles the about us text */
footer p {
	color: #999;
	font-family: sans-serif;
}

/* Handles the footer icons */
.sci {
	margin-top: 20px;
	display: flex;
}
/* Removes the list bullets */
.sci li {
	list-style: none;
}
/* Handles the icons styling */
.sci a {
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
}
.sci li a:hover {
	background: #f00;
}
/* Handles icon size at footer*/
.sci li a .fa {
	color: #fff;
	font-size: 10px;
}
/* Handles the quicklinks */
.quickLinks ul li a {
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1em;
	font-family: sans-serif;
}
.quickLinks ul li a:hover {
	color: #fff;
}
/* Controls the margin from About Us to Quicklinks */
.quickLinks {
	margin-left: 7em;
}
.contact .info li {
	margin-bottom: 10px;
	list-style: none;
	font-family: sans-serif;
}
/* Handles icons on Contact Us list */
.contact .info li span:nth-child(1) {
	color: #fff;
	margin-right: 10px;
}
.contact .info li span {
	color: #999;
}
.contact .info li a {
	color: #999;
	text-decoration: none;
}
.contact .info li a:hover {
	color: #fff;
}
.copyrightText {
	background: #181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
	width: 100%;
}






/* MEDIA QUERIES */

/* If viewport is 510px or less set the elements to... */
@media (min-width: 0px) and (max-width:512px) {
	.container {
		margin-left: 1px;
		max-width: 25em;
	}



	/* Navbar elements to... */
	.navbar {
		width: 508px;
	}
	.NavbarItems {
		position: relative;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		padding-top: 2em;
		height: 20em;
		padding-left: 0em;

	}
	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}
	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}
	.navbar-logo {
		position: absolute;
		top: -10px;
		left: 70px;
		transform: translate(25%, 50%);
	}
	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #1888ff;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}
	.nav-links-mobile:hover {
		background: #fff;
		color: #1888ff;
		transition: 250ms;
	}
	button {
		display: none;
	}
	.current-user {
    	margin-left: -70px;
    	margin-top: -18em;
    	width: 25em;
	}

	
	.user-null {
		margin-top: -18em;
    	margin-left: 8em;

	}



	/* Searchbar elements to... */
	.search-inputs input {
		width: 20em;
		height: 43px;
		margin-left: 20px;
	}
	.search-icon {
		height: 38px;
		width: 50px;
		margin-left: 17em;
		padding-left: -6em;
	}
	.search-results {
		margin-left: 146px;
		width: 319px;
	}



	/* home-page-title elements to... */
	.home-page-title {
    	margin-left: 1em;
    	width: 20em;
	}
	.filters {
		display: none;
	}



	/* Featured Sites elements to... */
	.page-title {
		margin-left: 1em;
		margin-top: 1em;
	}



	/* Card elements to... */
	.container-fluid .row {
    	padding-right: 3em;
    	margin-left: -57px;
    	margin-top: 27em;
    	display: flex;
	}
	.card {
    	width: 259px;
    	height: 100%;
    	margin-top: -28em;
    	margin-bottom: 29em;
    	margin-left: -9em;
	}
	.row {
		display: flow-root;
	}



	/* ViewPageUi elemetns to... */
	.imgBx img {
		max-width: 17em;
	}
	.content {
    	margin-left: 1em;
    	margin-top: 0em;
    	width: 26em;
	}
	.content p {
		width: 21em;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
	}
	.location-info {
		margin-left: 2em;
		margin-top: 4px;
		margin-bottom: 1em;
	}
	.recommended-products{
		margin-left: 2em;
		margin-top: 3em;
	}
	.renderd-comments {
		margin-left: 8em;
    	margin-top: 0em;
    	margin-bottom: 20em;
	}

	element.comments {
		padding-top: 3em;
		margin-left: -4em;
	}
	.comments-title {
		margin-left: 2em;
	}
	.comment-form-title {
		margin-left: 4em;
		padding-bottom: 1em;
	}
	.comment-text{
		width: 12em;
	}
	textarea {
		height: 5em;
    	width: 21em;
	}
	.post-btn {
		padding-top: 1em;
	}
	.other-img{
		margin-top: -13em;
	}

	/* commnets */
	.comments {
    	margin-left: -12em;
    	padding-top: 3em;
	}



	/* Cart elemets to...(My Destinations) */
	.py-4 {
		margin-bottom: 0em;
		padding-left: 1em;
		display: table-caption;
	}
	table {
		width: 100%;
	}
	tbody {
		display: flex;
		flex-direction: column;
	}
	tbody tr {
		display: grid !important;
		justify-content: start !important;
	}
	tr td img {
		height: 20rem !important;
	}



	/* PrivacyPlicy elements to... */
	.privacy-policy {
		width: 32em !important;
		margin-left: 1px;
		margin-bottom: 0;
	}



	/* Terms & Condition elements to...  */
	.terms {
		width: 32em !important;
		margin-bottom: 0;
		margin-left: 1px;
	}



	/* AboutUsPage elements to... */
	.about {
		width: 33em !important;
		margin-bottom: 0;
		margin-left: 1px;
	}



	/* FAQ elements to... */
	.faq {
		width: 32em !important;
		margin-bottom: 0;
		margin-left: 1px;
	}



	/* Suggestion Page elements to... */
	.suggestion-form {
		width: 33em !important;
		margin-left: 1px;
	}
	.names {
		margin-left: -12px;
	}
	textarea.form-control {
		margin-left: 1px;
	}



	/* Contact Us elements to...*/
	.contact-us {
		width: 33em !important;
		margin-left: 1px;
		margin-bottom: 1em;
	}



	/* Donate Page elements to... */
	.donate {
		width: 32em!important;
   	    margin-left: 1px;
    	margin-top: 2em;
	}



	/* CATEGORY PAGE */
	.category-page-title{
		margin-left: 4em;
	}
	.category-filter{
		display: none;
	}
	.category-card{
		margin-top: 30em;
	}
	.category-card .card{
		width: 360px;
		height: 40em;
		margin-left: -6em;
	}



	/* UserAccount/ my-account */
	.list-group {
		width: 30%;
		margin-bottom: 1em;
	}
	.only-authenticated .message {
		margin-left: 9em !important;
	}



	/* UserProfile */
	.success-message {
		margin-left: -19em;
		width: 50em;
	}



	/* Restricted Page */
	.login-required .no-user {
		margin-left: -3em;
    	margin-top: 15em;
    	width: 38em;
	}


	/* Help Page */
	.help {
		width: 30em;
	}

	/* Comming Soon */
	.comming-soon {
    	margin-left: 13em;
    	width: 100% !important;
	}
	

	/* Footer elements to... */
	footer {
		width: 100%;
		margin-top: 0em;
	}
	.aboutus {
		display: unset;
	}
	.quickLinks {
		margin-left: 0em;
	}
	.copyrightText {
		width: 100%;
	}
	.copyrightText p {
		width: 16em;
	}
}




/* If viewport is 511px - 710px set the elements to... */
 
@media (min-width: 513px) and (max-width:710px){
	/* Navbar elements to... */

	.NavbarItems {
		position: relative;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		padding-top: 2em;
		height: 20em;
		padding-left: 0em;

	}
	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}
	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}
	.navbar-logo {
		position: absolute;
		top: -10px;
		left: 70px;
		transform: translate(25%, 50%);
	}
	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #1888ff;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}
	.nav-links-mobile:hover {
		background: #fff;
		color: #1888ff;
		transition: 250ms;
	}
	button {
		display: none;
	}
	.current-user {
    	margin-left: 1em;
    	margin-top: -18em;
    	width: 25em;
	}
	.user-null {
		margin-top: -18em;
    	margin-left: 8em;
	}
	
	.filters{
		display: none;
	}


	/* User Profile */
	.user-profile-container .row{
    	margin-left: 0em;
	}
	.user-profile-container form {
		width: 90%;
	}
	.user-profile-container .text-center img {
		margin-left: -3em;
	}



	/* User Account */
	.user-account-container .welcome-p {
		display: flex;
		width: 70%;
	}
	.user-account-container form {
		margin-left: -22em;
		width: max-content;
	}
	.user-account-container .only-authenticated .delete-btn {
		margin-left: 19em;
	}
	.list-group{
		width: 14em;
    	margin-left: -22em;
    	padding-bottom: 2em;
    	padding-top: 0em;
	}



	/* Filters */
	.filters{
		/* margin-top: -3em; */
		display: none;
	}



	/* Featured Page */
	.featured-page {
    	padding-top: 84px;
	}



	/* Search Component */
	.search-results {
		margin-left: 17px;
	}
	.search-icon {
		margin-left: 18em;
	}
	.search-inputs input {
		display: flex;
	}


	/* Card elements */
	.row {
		display:grid;
		grid-template-columns: repeat(1, 1fr);
		margin-left: 21em;
		margin-top: 3em;
	}
	.home-page-title {
    	margin-left: 1em;
	}
	.card {
   		width: 100%;
    	height: 100%;
    	margin-bottom: 5em;
    	margin-top: -4em;
    	margin-left: -7em;
	}



	/* ViewPage Content */
	.content {
		width: 19em;
    	margin-left: 10em;
    	margin-top: -6em;
	}
	.location-info {
		width: 20em;
		margin-left: 1em;
    	margin-top: 3em;
	}
	.imgBx img {
    	max-width: 20em;
	}
	.other-img {
    	margin-top: -16em;
	}
	.recommended-products {
		margin-left: 0em;
	}
	.recommended-products h3 {
    	width: 13em;
    	padding-bottom: 1em;
	}
	.renderd-comments textarea {
		width: 27em;
	}
	.comments-container .comment {
		margin-left: 3em;
	}


	
	/* Login Required */
	.login-required {
    	margin-top: 21em;
    	margin-bottom: 20em;
    	margin-left: 16em;
 		width: 49em;
	}



	/* CATEGORY ELEMENTS */
	.category-card .card {
		width: 100%;
    	height: 100%;
    	margin-bottom: 32em;
	}



	/* My destinations */
	.py-4 {
		margin-bottom: 0em;
		padding-left: 1em;
		display: table-caption;
	}
	.py-4 .col-12 h5 {
		margin-left: -10em;
	}
	table {
		width: 100%;
	}
	tbody {
		display: flex;
		flex-direction: column;
	}
	tbody tr {
		display: grid !important;
		justify-content: start !important;
		margin-left: -13em;
	}
	tr td img {
		height: 20rem !important;
	}



	/* Quick links */
	/* About us */
	.about {
		margin-left: 0em;
		width: 100%;
	}
	.donate {
		width: 27em;
	}
	.faq {
		width: 27em;
	}
	.privacy-policy{
		width: 27em;
	}
	.help {
		width: 27em;
	}
	.terms {
		width: 27em;
	}
	.contact-us {
		width: 27em;
	}



	/* Footer element */
	footer{
		/* width: 1337px; */
		width: 100%;
	}
	footer .container{
		margin-left: 0em;
	}
	footer p {
		width: 25em;
	}
	.aboutus{
		display: unset;
	}
	.quickLinks {
    	margin-left: 0em;
	}
	.copyrightText{
		/* width: 1337px; */
		width: 100%;
	}

}



/* If viewport is 711px - 900px set the elements to... */
@media (min-width: 711px) and (max-width:960px){
	.NavbarItems {
		position: relative;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		padding-top: 2em;
		height: 20em;
		padding-left: 0em;

	}
	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}
	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}
	.navbar-logo {
		position: absolute;
		top: -10px;
		left: 70px;
		transform: translate(25%, 50%);
	}
	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #1888ff;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}
	.nav-links-mobile:hover {
		background: #fff;
		color: #1888ff;
		transition: 250ms;
	}
	button {
		display: none;
	}
	.current-user {
    	margin-left: 5em;
    	margin-top: -18em;
    	width: 25em;
	}

	
	.user-null {
		margin-top: -18em;
    	margin-left: 8em;

	}


	
	/*Profile element */
	.user-profile-container{
		margin-top: 38em;
		width: 77em;
	}
	.user-profile-container .only-authenticated form {
		margin-left: -15em;
		width: fit-content;
	}
	.user-profile-container .welcome-p p {
		width: 50%;
	}
	.only-authenticated .delete-btn {
		margin-left: 16em;
	}
	.profile-page{
		margin-top:  -32em;
	}
	.user-profile-container .row {
		display: grid;
    	margin-left: 25em;
		margin-top: 2em;
		margin-left: 0em;
	}
	.user-profile-container .col-sm-3 .text-center{
		width: 22em;
	}



	/* User Account elements */
	.user-account-container{
		margin-top: 29em;
	}
	.user-account-container .page-info {
		display: none;
	}
	.list-group{
		width: 14em;
		margin-left: -26em;
	}
	.user-account-container .only-authenticated .col-sm-10 h1 {
    	margin-top: -16em;
		width: 8em;
	}
	.user-account-container .col-sm-3 .text-center{
		width: 14em;
	}
	.user-account-container form {
		margin-left: -18em;
	}


	/* Filters */
	.filters{
		display: none;
	}
	
	/* Featured Page */
	.featured-page {
    	padding-top: 83px;
	}



	/* SearchBar element */
	.serch-app{
		margin-left: 8em;
    	display: flex;
	}
	.search-inputs input{
		width: 25em;
		display: flex !important;
	}
	.search-icon{
		margin-left: 18em;

	}
	.search-results {
		width: 398px;
		margin-top: 0px;
	}



	/* Card */
	.home-page-title {
    	margin-left: 1em;
	}
	.container-fluid .row{
		margin-top: 1em;
		margin-left: -10em;
	}
	.row{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 25em;
		margin-top: -28em;
	}
	.card{
		width: 100%;
		height: 100%;
		min-width: min-content;
		margin-left: 0em;
		margin-top: 0em;
		margin-bottom: 1em;
	}



	/* ViewPage Content */
	.content {
		width: 25em;
		margin-top: 0em;
		margin-left: 1em;
	}
	.location-info {
		width: 20em;
		margin-left: 1em;
	}
	.imgBx img {
    	max-width: 33em;
	}
	.other-img {
    	margin-top: -25em;
	}



	/* CATEGORY PAGE */
	.category-page-contents .row {
    	display:grid;
		grid-template-columns: repeat(2, 1fr);
    	margin-top: -30em;
		margin-left: 1em;
	}
	.category-card{
		margin-top: 30em;
	}
	.category-card .card {
    	width: 100%;
		height: 100%;
		margin-bottom: 1em;
	}

	.category-card .rating{
		margin-left: 90px;
	}



	/* My destinations */
	.py-4 {
		margin-top: 37em;
		margin-bottom: 0em;
		padding-left: 1em;
		display: table-caption;
	}
	.py-4 .col-12 h5 {
		margin-left: -10em;
	}
	table {
		width: 100%;
	}
	tbody {
		display: flex;
		flex-direction: column;
	}
	tbody tr {
		display: grid !important;
		justify-content: start !important;
		margin-left: -13em;
	}
	tr td img {
		height: 20rem !important;
	}



	/* Quick links */
	.about {
		margin-left: 0em;
		width: 100%;
	}
	.donate {
		width: 35em;
	}
	.faq {
		width: 35em;
	}
	.privacy-policy{
		width: 35em;
	}
	.help {
		width: 35em;
	}
	.terms {
		width: 35em;
	}
	.contact-us {
		width: 35em;
	}


	/* Footer element */
	footer{
		width: 100%;
	}
	footer .container{
		margin-left: 0em;
	}
	footer p {
		width: 100%;
	}
	.aboutus{
		display: unset;
	}
	.quickLinks {
    	margin-left: 0em;
	}
	.copyrightText{
		width: 100%;
	}

}
@media (min-width: 768px) and (max-width: 849px){
	/* Card spesific */
	.card{
		width: 270px;
	}
	.category-card .card {
		width: 270px;
	}
}
@media (min-width: 850px) and (max-width: 960px){
	/* Card spesific */
	.card{
		width: 310px;
	}
	.category-card .card {
		width: 310px;
	}
}




/* If viewport is 961 to 1024px do this... */
@media (min-width: 961px) and (max-width: 1025px) {
	.NavbarItems {
		position: relative;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		padding-top: 2em;
		height: 20em;
		padding-left: 0em;

	}
	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}
	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}
	.navbar-logo {
		position: absolute;
		top: -10px;
		left: 70px;
		transform: translate(25%, 50%);
	}
	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}
	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #1888ff;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}
	.nav-links-mobile:hover {
		background: #fff;
		color: #1888ff;
		transition: 250ms;
	}
	button {
		display: none;
	}
	.current-user {
    	margin-left: 11em;
    	margin-top: -18em;
    	width: 25em;
	}
	.user-null {
		margin-top: -18em;
    	margin-left: 8em;

	}

	/* User Profile */
	.user-profile-container form {
		width: 40em;
	}



	/* SerchBar elements to.. */
	.search-inputs input {
		width: 22em;
		margin-left: 19em;
	}
	.search-icon {
		margin-left: 31em;
	}
	.search-results {
		width: 352px;
    	margin-left: 304px;
    	margin-top: 60px;
	}
	.search-inputs {
		position: fixed !important;
	}



	/* Card styles */
	.container-fluid {
		margin-left: 0em;
	}
	.container-fluid .row {
		/* row Category card */
    	display:grid;
		grid-template-columns: repeat(3, 1fr);
		margin-left: 14em;
		margin-top: -30em;
	}
	.card{
		width: 210px;
		height: 100%;
		min-width: min-content;
		margin-left: -3em;
		margin-top: 0em;
		margin-bottom: 1em;
	}
	.category-card .card {
		width: 210px;
		height: 100%;
		min-width: min-content;
		margin-left: -3em;
		margin-top: 0em;
		margin-bottom: 1em;
	}



	/* View Page Contents */
	.content {
		width: 25em;
		margin-left: 1em;
    	margin-top: 10em;
	}
	.location-info {
		width:  20em;
		padding-top: 2em;
		margin-left: 1em;
	}


	/* Quick links */

	.about {
		margin-left: 0em;
		width: 100%;
	}


	/* Footer element */
	footer{
		/* width: 1337px; */
		width: 100%;
	}
	footer .container{
		margin-left: 0em;
	}
	footer p {
		width: 100%;
	}
	.aboutus{
		display: unset;
	}
	.quickLinks {
    	margin-left: 0em;
	}
	.copyrightText{
		/* width: 1337px; */
		width: 100%;
	}

}



@media (min-width:1026px) and (max-width:1200px){
	.nav-menu {
		width: 0vw;
	}
	.navbar-logo { 
		margin-left: -5em;
	}
	.user-null {
    	padding-left: 0px;
	}
	.current-user {
		width: 157px;
		padding-top: 8px;
	}
	.current-user button {
		margin-left: 180px;
		margin-top: -7em;
	}

	.current-user .adventurer{
		margin-left: 0em;
	}

	.user-profile-container form {
		width: 45em;
	}

	


	/* Card Commponent */
	.container-fluid .row {
    	margin-left: -17px;
		padding: 0em;
	}
	.card{
		width: 200px;
		height: 32em;
	}



	/* Serach Component */
	.search-inputs input {
		width: 12em;
	}
	.search-icon {
		margin-left: 158px;
	}
	.search-results {
		width: 192px;
		margin-left: 16px;
	}


	/* CATEGORY ELEMENTS */
	.category-card .card {
		width: 225px;
		height: 33em;
	}



	/* Footer */
	footer {
		width: 100%;
	}
	.copyrightText {
		width: 100%;
	}
	.quickLinks {
    	margin-left: 3em;
	}

}



@media (min-width:1201px) and (max-width:1280px){
	
	.nav-menu {
		width: 24vw;
	}
	.user-null {
    	padding-left: 4px;
	}
	.current-user {
		width: 100%;
	}
	.current-user button {
		margin-left: 215px;
	}
	.user-profile-container form {
		width: 50em;
	}
	

	/* Search Componnent */
	.search-inputs input{
		width: 20em;
	}
	.search-icon{
		margin-left: 14em;
	}
	.search-results {
		width: 320px;
		margin-left: 16px;
	}


	/* Card Styles */
	.card {
		width: 230px;
	}

}


@media (min-width:1281px) and (max-width:1350px){

	.navbar-logo{
		margin-left: -1em;
	}

	.user-profile-container form {
		width: 50em;
	}
	
}

@media (min-width:1367px) and (max-width:1440px){

	.search-results {
		width: 382px;
	}
}

